h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(48, 33, 189);
    margin-bottom: 1%;
}

.button-margin {
    margin-right: 10px;
}

.codeEmploye {
    text-align: center;
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-text {
    text-align: center;
}